body{
	background-color:#E5E7E9;
	
	
}
p{
	font-size: 15pt;
	font-family: "Arial", Helvetica, sans-serif;
	text-indent: 50px;
	text-align: justify;
	margin-top:0px;
	/*margin-left: 150px;
	margin-right: 150px;*/
}
h1{
	font-family: "Arial", Helvetica, sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}
h2{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 0px;
	
}


.image{
	background: black url(https://lh3.googleusercontent.com/WMbP085Y_mWz_mcZBZNiXrrJ9w0ga6QLsILfAU7gjka7TyKfkqJ8Kzc75F1SslRu2E8HB70toZugmMzqmGtIp6WddB-F1PNuyyD6DkdhuNTBcB-7wyOh2RAGkXxJAxe4vMcG__7-lbTDuOYL_n6zPh1VM59w0jMu4xiP6lG1rsNbKU-mw1v1sQiVObJrzN_jbzB9NmR5tu7BdS9LldFUgjAbU9S9y01KWoF9K0czqCjXPeN0r03vjRml0ve2t5L13bs8RwXPbkxcY_XUe6Gfrslezxl1qJfCoinve-7_c_pJdK_DrJOQpEGMg11OofZXz-FNMFwsAujEHx7g45cR4TlYGFDya-N-QOhPLacOSZGcfhtkCLaXvzk-J-3IpkU0m2n9JqBdLxnuP-1pTuwuvNjwq7O5KrYNv79i2R1OgCZXyHW8RpumlQcvN-M0XpxJmphhMRmBikOuvHOUkGokT-6n-pXBVgWlQlP-TdC7rBTHX_k9IXtMg0o12Cgag_VOqLSg1tOZaF0KJ4mmELwT9wcFLQEuBTem9GWaaN2FkrqE9RUK1ocOqaX67xHZbkIxdSWcPCINzXmp3SQl-8km639tYytsaySaCdxT_uTxtkdiBG1-cw=w964-h402-no);
	background-size: cover;
	background-position: center;
	
	height: 400px;
	
	/*position: center;
	width: 100%;
	background-size: 100% 100%;*/
}

h3{
	position: absolute;
	top: 300px;
	
}

h3 span{
	color: white;
	font: bold 30px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding: 10px;
}

.box1{
	border: 1px solid blue;
}

ul#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}
#navbar li{
	float: left;
}

#navbar li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	color: red;
}

#backbox{
	background-color: #D7DBDD;
	margin: auto;
	width: 90%;
	text-align: left;
	border: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
#headerback{
	background-color: #CACFD2;
	margin: auto;
	border: 0px;
	width: 90%;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.banner{
	background-color: black;
	width: 100%;
	height: auto;
	color: white;
	font: bold 50px/45px Helvetica, Sans-Serif;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.pictures{
	border: solid 3px black;
	background: #CACFD2;
	text-align: center;
	font-weight: bold;
	width: 450px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right:10px;
	padding-left: 10px;
	margin: 10px;
	
	
}
.scale{
	width: 450px;
}
#piclist{
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20;
}
#piclist li{
	float: left;
}
/*#piclist li a{
	border: solid 3px black;
	background: #CACFD2;
	text-align: center;
	width: 450px;
	padding: 10px;
	margin-top: 10px;
	margin-right:10px;
	margin-left: 10px;
	margin-bottom: 20px;
}*/
ul#resume{
	background-color: #D7DBDD;
	margin: auto;
	overflow: hidden;
	width: 90%;
}

#resume li{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	list-style-type: normal;
}
	

h4{
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13pt;
	padding: 2px;
	margin:0px;
	border:0px;
}
h5{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	padding: 2px;
	margin:0px;
	border:0px;
}
h6{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: normal;	
	padding: 2px;
	margin:0px;
	border:0px;
}
h7{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;	
	padding: 0px;
	margin:0px;
	border:0px;
}
	
.resume{
	margin-left:100px;
	margin-right:100px;
}
#resleft{
	width: 50%;
	float: left;
	background-color: #D7DBDD;
}

#resright{
	width: 50%;
	float: left;
	text-align: right;
	background-color: #D7DBDD;
}
HR{
	margin-top: 0px;
	margin-bottom: 5px;
}
.rotate90{
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	width: 450px;
}